
body {
    font-size: 16px;
}

.logo {
    width: 140px;
    height: 60px;
    margin-bottom: 3px;
    background-image: url("img/logo.png");
    background-size: 120px 40px;
    background-repeat: no-repeat;
}

.header-nav {
    margin-top: 10px;
    border-bottom:1px #F2F2F2 solid;
    margin-bottom: 40px;
}

.header-nav .nav {
    display: flex;
}

.header-nav li {
    margin-top: 11px;
}
.header-nav .nav .dropdown {
    margin-left: auto;
}


.add-book {
    margin-top: 10px;
    margin-left: 10px;

}

.add-book a:hover {
    text-decoration: none;
}

.add-book a:active {
    text-decoration: none;
}

.header-nav .nav .log-out-btn {
    margin-left: 0;
}
.header-nav .nav .name {
    margin-left: auto;
    margin-right: 15px;
}

.name p {
    color: #337ab7;
    margin-top: 21px;
    margin-bottom: 0;
}

.basket-img {
    width: 20px;
}

.basket-button {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*width: 60px;*/
    text-decoration: none;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    background-color: #f1f1f1;
    padding: 10px 15px;
    -webkit-transition: .25s ease;
    -moz-transition: .25s ease;
    -ms-transition: .25s ease;
    -o-transition: .25s ease;
    transition: .25s ease;
}

.basket-button:hover {
    background-color: #c1c4c7;
    color: #ffffff;
    text-decoration: none;
}

.basket-button .basket-num {
    position: relative;
    top: 2px;
    margin-right: 8px;
}