.add-product-layout {
    display: block;
}

.add-product-layout .form-control {
    margin-bottom: 10px;
    margin-top: 10px;
}

.choose-image {
    margin-top: 20px;
}

textarea.textarea-descript {
    height: 250px;
    resize: vertical;
}

.add-product-layout .add-book-btn .btn {
    margin-top: 10px;
    margin-bottom: 30px;
}